*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(152, 152, 255);
}

.contenedor{
    display: flex;
    flex-direction: row-reverse;
}

.contenedor-center{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: -40px;
    width: 50%;
}

.citas{
    border: #090cd1 1px solid;
    height: 350px;
    margin-top: -20;
    padding: 20px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}

.citas::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.citas::-webkit-scrollbar-track {
    background: #040729;        /* color of the tracking area */
    border-radius: 1em;
}
  
.citas::-webkit-scrollbar-thumb {
    background-color: #1a237e;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #040729;  /* creates padding around scroll thumb */
    
}

.citas > .m1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check{
    height: 50px;
    width: 50px;
    background-color: #090cd1;
    border: transparent;
    border-radius: .5em;
    color: white;
    font-weight: bold;
}

.navcolor{
    background: linear-gradient(90deg, #5a40ec 25%, #090cd1 100%);
}

form > h4{
    font-weight: bold;
}

.input-registro, .select-dropdown{
    background-color: rgb(64, 64, 233) !important;
    border-radius: .5em !important;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.globo{
    margin-top: 60px;
    padding: 20px;
    width: 100%;
    background-color: #484bf5e8;
    color: white;
    border: #090cd1 1px solid;
    border-radius: 1em;
    height: 70px;
}

.col > .globo{
    margin: 3px 0;
}

.dropdown-content > li > span{
    color: white !important;
}

form>.col>button{
    background: green;
    width: 280px;
    color: white;
    font-weight: bold;
    border-radius: .5em;
    height: 40px;
}

.input-registro::placeholder{
    color: white;
}



@media (max-width:600px) {
    .contenedor{
        display: initial;
    }

    .contenedor-center{
        width: 100%;
    }

    .citas{
        width: 90%;
        padding: 0;
    }
}