<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corpotulipa - Resetee su contrasena</title>
</head>
<body>
    <div style='background: linear-gradient(90deg, rgb(95, 95, 235) 25%,rgb(76, 69, 218) 100%); width: 280px; padding: 0px; border-radius: .5em; height: 400px;text-align: center;'>
        <img src="https://pbs.twimg.com/profile_images/1468347896089264130/BzTWRX-__400x400.jpg" width="250px" height="100px" style="border-radius: .5em;margin-top: 10px;">
        <h1 style='color: black; font-size: 2em; text-align: center;'>Código de validación</h1>
        <h1 style='color: black; font-size: 2em; text-align: center;'>%Token%</h1>
        <p style='color: black; text-align: center;'>Por favor ingrese al siguiente enlace y pegue este código para cambiar su contraseña</p>
        <a href='localhost/SistemaCitas/resetear_password.php' style='background-color: #229954; color: black; padding: 10px; border-radius: .5em; text-decoration: none; font-weight: bold;;'>Resetear Contraseña</a>
    </div>
</body>
</html>